# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.env
.venv/
venv/
ENV/

# VS Code
.vscode/

# Project specific
chroma.sqlite3
vectordb/
models/*.pkl

# Dependencies
node_modules/
package-lock.json

# Logs
*.log